// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



body{
  font-size: 0.8rem;
  font-family: 'Comfortaa', cursive;
  background-image: url('~/images/food.png');
}

nav{
  background-color: #F07818;

}

nav a{
  color:#fff;
}

nav a:hover{
  color: #FCEBB6;
}

.dropdown-menu{
  right: 0;
  left: auto;
}

p{
  font-size: 0.9rem;
}

/*Welcome pagina*/
.welcome_img{
  border-bottom: 2px solid #F07818;
  height: 25%;
  width: 100%;
}

/*Recepten & post show*/
.show_img{
  float: right;
  margin-top: 70px;
  height: 40%;
  width: 40%;
}

/*top 5*/
.top5_img{
  float: left;
  height: 32%;
  width: 35%;
  margin-right: 15px;
}

.top5Img{
  width: 100%;
  height: 35%;
  margin-bottom: 15px;
}

.top_5_Img{
  width: 100%;
  height: 27.5%;
}

/*Post pagina*/
.post_img{
  float: left;
  height: 30%;
  width: 30%;
  margin-right: 15px;
}

.d-block{
  margin-left: 285px;
  width: 60%;
}

.block-styling{
  height: 300px;
}
.carousel-control-prev {
  left: 202px;
}

.carousel-control-next{
  right: 190px;
}
/*End post pagina*/

.card-link {
  color: #000;
}






